* {
  margin: 0;
  padding: 0;
  font-family: 'SF Pro Display', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif;
}

.teams-container {
  /* background-image: linear-gradient(to top, #dfe9f3 0%, white 100%); */
}

.meet-us {
  text-align: center;
  padding: 1rem;
}
.meet-us span {
  color: whitesmoke;
}
.bio-sec{
  height: 110%;
}

.sliding-images-container {
  position: relative;
  width: 100%;
  padding: 4rem;
  display: flex;
  justify-content: center;
  margin-bottom: 0.2rem;
  animation: slide-my-container 3s ease-in-out both;
}

/* sliding images */
.active-developer {
  display: flex;
  min-height: 10vh;
  justify-content: center;
}
.not-active-developer {
  display: none;
}
.active-developer img {
  height: 10vh;
  width: 6vw;
  border-radius: 50%;
  border: 3px solid whitesmoke;
  animation: fadeInTop 2s both;
}
@keyframes fadeInTop {
  0% {
    opacity: 0;
    transform: translateY(-4rem);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.active-developer .card-div {
  padding: 1rem;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  align-items: center;
}
.active-developer .card-div p {
  color: whitesmoke;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 1px;
  animation: fadeInLeft 2s both;
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-4rem);
  }
  50% {
    opacity: 0.5;
    color: whitesmoke;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.active-developer .bio-sec {
  background-color: #e2ebf0;
  padding: 1rem 1rem;
  width: 60%;
  min-height: 15vh;
  animation: fadeInBottom 2s both;
  border-radius: 10px;
}

@keyframes fadeInBottom {
  0% {
    opacity: 0;
    transform: translateY(15vh);
  }
  50% {
    opacity: 0.5;
    color: white;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.active-developer .bio-sec p {
  padding: 0.2rem;
}
.active-developer .bio-sec .my-date {
  position: absolute;
  bottom: 0.2rem;
  display: grid;
  font-size: 10px;
}
.active-developer .bio-sec .my-date span {
  font-weight: bold;
}

@keyframes slide-my-container {
  0% {
    opacity: 0;
    transform: translateX(100vw);
    transform-origin: center;
  }
  100% {
    opacity: 1;
    transform: translatex(0);
    transform-origin: center;
  }
}
