* {
  padding: 0;
  margin: 0;
  font-family: 'SF Pro Display', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif;
}
.footer {
  font-size: 14px;
  margin-top: 0.1rem;
  background-color: #586b88;
}
.footer-top {
  display: flex;
  justify-content: center;
}
.footer-top ul {
  margin-top: 0.4rem;

  padding: 0.4rem;
  display: flex;
  list-style-type: none;
}
.footer-top ul li {
  margin: auto 2rem;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}
.socials-icons {
  color: #fff;
}
.footer-top ul li a {
  color: white;
  text-decoration: none;
}
.footer-center {
  margin-top: 0.6rem;
  display: flex;
  justify-content: center;
  padding: 0.4rem;
}
.footer-center ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}

.footer-center ul li {
  margin: auto 0.4rem;
  font-size: 16px;
  background-color: rgba(57, 62, 70, 0.4);
  padding: 0.2rem 0.4rem;
  border-radius: 50%;
}

.footer-center ul li:hover {
  background-color: rgba(57, 62, 70, 0.9);
  color: white;
  transition: all 1.5s ease-in-out;
}
.footer-bottom {
  display: flex;
  justify-content: end;
  margin-top: 0.6rem;
}

.footer-bottom p {
  margin-right: 10%;
  padding: 0.2rem 0.4rem;
  color: #fff;
  margin-bottom: 0.4rem;
}
