.login-parent-container {
  color: whitesmoke;
  padding: 1.5rem;
  min-height: 80vh;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('https://images.pexels.com/photos/1181325/pexels-photo-1181325.jpeg?auto=compress&cs=tinysrgb&w=1600');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.login-box {
  /* From https://css.glass */
  background: rgba(170, 187, 240, 0.26);
  border-radius: 16px;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  backdrop-filter: blur(10.9px);
  -webkit-backdrop-filter: blur(10.9px);
  border: 1px solid rgba(170, 187, 240, 0.34);
  width: 450px;
  border-radius: 8px;
  padding: 1.5rem;
}

.login-box > h3 {
  text-align: center;
  padding: 0.4rem;
}

.login-box > h4,
.login-box > p {
  padding: 0.1rem;
}

.devs-login-form {
  padding: 1rem 0;
}
.login-inputs-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.login-inputs-container input {
  padding: 0.5rem;
  border-radius: 5px;
}

.logins-button-form {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logins-button-form > button {
  padding: 0.4rem 1.5rem;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: #586b88;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.login-footer {
  text-align: center;
}

.login-footer .register p span {
  padding: 0.4rem;
}
.login-footer .register p span a {
  text-decoration: none;
  color: #00ff00;
}
